.musicRange{
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    input{
        -webkit-appearance:none;
        width: 50%;
        height:4px;
        border-radius:5px;
        background-color:#383838;
        outline:none;
        margin-right: 10px;
    }
    input::-webkit-slider-thumb{
        -webkit-appearance:none;
        width:15px;
        height:15px;
        border-radius:50%;
        background-color:#5e5e5e;
    }
    span{
        color: white;
    }
}